.calculator {
   width: 300px;
   margin: 50px auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 10px;
   background-color: #f9f9f9;
}
#screen {
   height: 50px;
   font-size: 24px;
   margin-bottom: 10px;
}
.btn {
   font-size: 18px;
}